*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  background: #000;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  flex-grow: 1;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

.navbar{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(121,28,9,1) 100%, rgba(0,212,255,1) 100%);
  height: 100px;
}

.nav__list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.nav__list li {
  margin: 0 50px;

}

.about{
  color: #fff;
}

.top-players{
  color: #b3b0b0;
}

.faceIt{
  color: #be5b5b;
}

.about,
.top-players,
.faceIt{
  transition: all .3s ease-out;
}

.about:hover,
.top-players:hover,
.faceIt:hover{
  color: #000;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.main{
  margin: 50px 0;
  text-align: center;
}

.info_source{
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
}

.info_source span {
  color: #3137a7;
  margin: 0 5px;
  font-style: italic;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info p{
  margin: 20px 0;
}


.topTeams__items{
  text-align: center;
  margin: 50px auto;
  background-color: #7085a3;
  width: 1100px;
  padding: 20px 0;
}


.team__img{
  width: 400px;
}

.team__rank{
  font-weight: 700;
  color: #dcd1d1;
  margin-top: 10px;
  text-transform: capitalize;
}

.team__name{
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
  color: #dcd1d1;
}

.topTeams__members{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #000;
}

.memeber__img{
  width: 200px;
  height: 200px;
}

.faceit__img{
  width: 700px;
}

.faceit__text{
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
  text-align: left;
}